* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

a {
  display: block;
  color: currentColor
}

aside,
nav {
  display: block
}

button,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  color: currentColor;
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer;
  background-color: currentColor
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500
}

.row {
  --bs-gutter-x: 15px;
  --bs-gutter-y: 15px;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2)
}

.row>* {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y)
}

.col-1 {
  flex: 0 0 auto;
  width: 8.333333%
}

.col-2 {
  flex: 0 0 auto;
  width: 16.666667%
}

.col-3 {
  flex: 0 0 auto;
  width: 25%
}

.col-4 {
  flex: 0 0 auto;
  width: 33.333333%
}

.col-5 {
  flex: 0 0 auto;
  width: 41.666667%
}

.col-6 {
  flex: 0 0 auto;
  width: 50%
}

.col-7 {
  flex: 0 0 auto;
  width: 58.333333%
}

.col-8 {
  flex: 0 0 auto;
  width: 66.666667%
}

.col-9 {
  flex: 0 0 auto;
  width: 75%
}

.col-10 {
  flex: 0 0 auto;
  width: 83.333333%
}

.col-11 {
  flex: 0 0 auto;
  width: 91.666667%
}

.col-12 {
  flex: 0 0 auto;
  width: 100%
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

body,
html {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column
}

body {
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column
}

main {
  flex: 1 1 auto;
}

header {
  background: rgba(83, 83, 83, 0.36);
  backdrop-filter: blur(9.74306px);
  min-height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.header__button {
  font-weight: 700;
  font-size: 15.496px;
  line-height: 22px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  background: #2B46A7;
  border-radius: 10px;
  padding: 7px 9px;
  margin-right: 15px;
}

.header__button svg {
  margin-left: 7px;
}

.header__tel {
  font-weight: 500;
  font-size: 18.2679px;
  line-height: 30px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
}

.header__center {
  font-weight: 700;
  font-size: 17.5375px;
  line-height: 26px;
  color: #FFFFFF;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'liga' off;
  color: #4988FF;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all .3s ease;
}

.header__btn:hover {
  opacity: .7;
}

.header__ul li {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  transition: all .3s ease;
}

.header__ul li:hover {
  opacity: .7;
}

.header__ul li:not(:last-child) {
  margin-right: 24px;
}

.first__left {
  max-width: 674px;
}

.first__sect {
  background: url(../img/main.png) no-repeat center;
  background-size: cover;
  min-height: 900px;
  margin-top: -2px;
}

.wild__sect {
  min-height: 90px;
  width: 100%;
  background: url(../img/wild.png) no-repeat center;
  background-size: cover;
}

.swiper__flex {
  border-bottom: 1px solid #27509E;
  height: 60px;
}

.swiper__left {
  border-right: 1px solid #1E1E1E;
  height: 20px;
  padding-right: 24px;
}

.swiper__left span {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  background: #2B30A7;
  border-radius: 17.5px;
  text-align: center;
  font-feature-settings: 'liga' off;
  padding: 5px 14px;
  color: #FFFFFF;
}

.h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
}

.h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #111827;
  opacity: 0.52;
}

.first__left h1 {
  color: #FFFFFF;
  margin-bottom: 24px;
}

.first__left h2 {
  color: #767084;
  opacity: 1;
}

.first__flex {
  margin-top: 40px;
}

.first__btn {
  background-color: #4988FF;
  padding: 20px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  margin-right: 40px;
  cursor: pointer;
  transition: all .3s ease;
}

.first__btn:hover {
  opacity: .7;
}

.first__film img {
  margin-right: 10px;
}

.first__film span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #4988FF;
  transition: all .3s ease;
}

.first__film span:hover {
  opacity: .7;
}

.second__sect {
  padding: 70px 0;
  position: relative;
}

.first__line {
  position: absolute;
  right: 0;
  top: 0;
}

.second__line {
  position: absolute;
  right: 0;
  top: 55px;
}

.second__sect h1 {
  margin-bottom: 11px;
}

.second__sect h2 {
  max-width: 400px;
}

.col-20 {
  flex: 0 0 auto;
  width: 20%;
}

.second__wrapper {
  margin-top: 45px;
}

.object__wrapper {
  margin-top: 20px;
}

.second__text {
  font-weight: 500;
  font-size: 19px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  margin-top: 10px;
  color: #000000;
  white-space: nowrap;
}

.second__img {
  height: 50px;
}

.assort__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  color: #000000;
  margin-top: 20px;
}

.assort__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #898989;
  margin-top: 8px;
}

.assort {
  margin-top: 60px;
}

.assort .row {
  --bs-gutter-x: 45px;
  --bs-gutter-y: 45px;
}

.third__sect {
  padding: 110px 0;
  background-color: #F6F6F6;
  position: relative;
}

.third__warn {
  background-color: transparent;
  border: 1px solid #E2DEEA;
  border-radius: 5px;
  backdrop-filter: blur(12px);
  padding: 4px 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.1605px;
  color: #533F86;
  width: max-content;
  margin-bottom: 14px;
}

.third__sect h1 {
  margin-top: 20px;
  color: #111827;
}

.third__sect h2 {
  margin-top: 8px;
  color: #111827;
}

.third__left {
  max-width: 480px;
}

.third__line {
  position: absolute;
  bottom: -40px;
  width: 105%;
  background-color: #4988FF;
  white-space: nowrap;
  height: 80px;
  transform: rotate(-1.8deg);
  left: -5px;
}

.third__line span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  border-right: 1px solid #000;
  padding-right: 10px;
  margin-right: 10px;
}

.fourth__sect {
  margin-top: 50px;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  background-color: #F6F6F6;
}

.fourth__line {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(41, 41, 41, 0.68);
  backdrop-filter: blur(52px);
  height: 64px;
  z-index: 3;
}

.line1 {
  position: absolute;
  left: 0;
  top: 160px;
}

.line2 {
  position: absolute;
  left: 0;
  top: 180px;
}

.fourth__left h2 {
  margin-top: 17px;
}

.fourth__flex {
  margin-top: 12px;
}

.fourth__left {
  max-width: 674px;
}

.fourth__left .leader__h2 {
  max-width: 410px;
}

.fourth__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: rgba(4, 4, 4, 0.52);
  padding: 16px 24px;
  background-color: #E9F1FE;
  border-radius: 8px;
  margin-left: 13px;
}

.fourth__create {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #767084;
  margin-top: 27px;
}

.fifth__sect {
  background-color: #EAEBFF;
}

.ph1 {
  top: 0;
  position: absolute;
}

.rel {
  position: relative;
}

.pen {
  width: max-content;
}

.pen__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
}

.ph2 {
  bottom: 0;
  position: absolute;
  right: 0;
}

.fifth__left {
  max-width: 592px;
  padding: 110px 0;
}

.fifth__left h1 {
  color: #2B30A7;
}

.fifth__left h2 {
  margin-top: 8px;
  color: #000;
  opacity: 0.52;
}

.fifth__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  margin-top: 26px;
  color: #000;
  margin-bottom: 8px;
}

.fifth__flex a {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: 'liga' off;
}

.fifth__wh {
  background-color: #06D188;
  padding: 0 15px;
  transition: all .3s ease;
}

.fifth__wh:hover {
  opacity: .7;
}

.fifth__wh span {
  margin-left: 8px;
}

.fifth__tel {
  background-color: #000;
  margin-left: 12px;
  color: #FFFFFF;
  padding: 0 22px;
  transition: all .3s ease;
}

.fifth__tel:hover {
  opacity: .7;
}

.sixth__sect {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}

.sixth__block {
  background-color: #fff;
  border: 1.54839px solid #D0D0D0;
  border-radius: 15px;
  padding: 14px;
}

.line7 {
  position: absolute;
  top: -55px;
  right: 0;
}

.sixth__back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  min-height: 56px;
  width: 56px;
  min-width: 56px;
  background: rgba(60, 61, 63, 0.12);
  border-radius: 7px;
}

.sixth__flex span {
  font-weight: 600;
  font-size: 18.5806px;
  line-height: 21px;
  margin-left: 13px;
  letter-spacing: -0.154839px;
  color: #17273E;
}

.sixth__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 11px;
  opacity: 0.5;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  pointer-events: visible !important;
  cursor: pointer !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: initial !important;
  margin-top: 0 !important;
  top: auto !important;
}

.mt120 {
  margin-top: 120px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

.sixth__container {
  width: 1310px;
  margin: 0 auto;
}

.swiper__container {
  margin-top: 30px;
}

.showroom {
  margin-top: 30px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.showroom video {
  width: 100%;
}

.showroom__img {
  width: 100%;
  border-radius: 15px;
}

.show__left {
  left: 25px;
  bottom: 25px;
}

.show__right {
  bottom: 25px;
  right: 25px;
}

.showroom__circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.36);
  backdrop-filter: blur(2px);
  border: 0.974306px solid #C5C5C5;
  cursor: pointer;
}

.showroom__line {
  position: absolute;
  height: 60px;
  font-weight: 600;
  font-size: 15.4381px;
  line-height: 23px;
  padding: 15px 23px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.36);
  border: 0.940091px solid #C5C5C5;
  backdrop-filter: blur(1.90587px);
  border-radius: 14.6146px;
  right: 100px;
  bottom: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.second__wrapper .row .col-20 {
  text-align: center;
}

.seventh__left img {
  width: 100%;
  border-radius: 15px;
}

.second__sect .leader__h2 {
  margin: 26px auto 0 auto;
}

.seventh__left {
  min-width: 640px;
  max-width: 640px;
  position: relative;
}

.seventh__sect {
  background-color: #F6F6F6;
  padding: 70px 0;
}

.seventh__right {
  margin-left: 50px;
}

.seventh__right h1 {
  margin-top: 18px;
}

.seventh__right h2 {
  margin-top: 30px;
}

.eighth__sect {
  padding: 120px 0;
  position: relative;
}

.ninth__sect {
  background-color: #F6F6F6;
  padding: 70px 0;
}

.tabs {
  background-color: #fff;
  padding: 20px;
  width: 420px;
  border-radius: 14px;
  position: relative;
  z-index: 3;
}

.tab {
  height: 50px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.1605px;
  color: #0085FF;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  border: 1px solid #E2DEEA;
}

.ninth__left {
  position: relative;
}

.tabs__abs-1 {
  position: absolute;
  left: 0;
  z-index: 2;
  transform: rotate(-7.36deg);
  filter: blur(4px);
}

.tabs__abs-1 .crown {
  bottom: -40px !important;
  left: -40px !important;
  top: inherit !important;
}

.tabs__abs-2 {
  position: absolute;
  left: 120px;
  z-index: 2;
}

.crown {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.36);
  backdrop-filter: blur(36px);
  position: absolute;
  right: -40px;
  top: -40px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #FFFFFF 0%, #0085FF 0.01%, rgba(0, 133, 255, 0) 92.71%);
}

.tab:not(:last-child) {
  margin-bottom: 10px;
}

.tab.active {
  color: #fff;
  background-color: #0085FF;
  border: 1px solid transparent;
}

footer {
  background-color: #EAEBFF;
  height: auto;
  display: flex;
  padding: 60px 0;
  min-height: 70px;
}

.footer__ul {
  margin-top: 50px;
}

.footer__ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #000;
  transition: all .3s ease;
}

.footer__ul li:hover {
  opacity: .7;
}

.footer__ul li:not(:last-child) {
  margin-right: 24px;
}

.footer__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'liga' off;
  color: #A4A4A4;
  margin-top: 24px;
}

.footer__btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11.8222px;
  line-height: 17px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  background-color: #020202;
  border-radius: 8px;
  padding: 8px 7px;
}

.footer__btn a:hover {
  opacity: .7;
}

.footer__btn img {
  margin-left: 8px;
}

.footer__right-text {
  font-weight: 600;
  font-size: 17.5628px;
  line-height: 27px;
  font-feature-settings: 'liga' off;
  color: #000000;

}

.footer__left .logo {
  width: max-content;
}

.phone {
  position: absolute;
  bottom: -50px;
  right: 100px;
  z-index: 2;
}

.color__back {
  font-weight: 600;
  font-size: 37.2778px;
  line-height: 47px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  padding: 15px 16px;
  background: rgba(48, 48, 48, 0.32);
  backdrop-filter: blur(48.9271px);
  border-radius: 23.2986px;
}

.s__fix {
  position: absolute;
  left: 30px;
  top: 30px;
}

.phone__block {
  background: rgba(255, 255, 255, 0.68);
  border: 1.90116px solid rgba(208, 208, 208, 0.84);
  backdrop-filter: blur(12px);
  border-radius: 19.0116px;
  padding: 13px;
  position: absolute;
  width: 460px;
}

.phone__2 {
  transform: rotate(-5.9deg);
  right: 300px;
  z-index: 0;
  bottom: -50px;
  filter: blur(5px);
}

.prone__col {
  margin-left: 16px;
}

.phone__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0E0E0E;
  margin-top: 5px;
  opacity: 0.36;
}

.phone__f span:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0E0E0E;
}

.phone__f span:last-child {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #0E0E0E;
}

.p {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #0E0E0E;
}

.a1 {
  top: 100px;
  left: -30px;
}

.a2 {
  top: 200px;
  left: -30px;
}

.ph__flex {
  margin-top: 8px;
}

.ph__btn {
  background-color: #329D76;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 6px 10px;
}

.ph__btn:last-child {
  margin-left: 5px;
  background-color: #723939;
}

.third__right {
  position: relative;
}

.third__block {
  padding: 40px;
  background: rgba(255, 255, 255, 0.04);
  border: 3px solid #FFFFFF;
  backdrop-filter: blur(61px);
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.t1 {
  z-index: 2;
  transform: rotate(4.31deg);
}

.t2 {
  z-index: 1;
  transform: rotate(-4.31deg);
  border: 1px solid #D0D0D0;
  background-color: #fff;
}

.third__h1 {
  max-width: 280px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  color: #000000;
  margin-bottom: 15px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  transition: all .3s ease;
  backdrop-filter: blur(4px);
  z-index: 100;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__body {
  opacity: 1;
  transform: scale(1.0);
}

.popup.open .popup__content {
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.6);
  transition: all .3s ease;
}

.popup__content {
  width: 670px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 27px;
  padding: 50px;
}

.popup__close {
  position: absolute;
  right: 40px;
  top: 40px;
}

.modal__h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #111827;
}

.modal__h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #767084;
  margin-top: 15px;
}

.modal__line {
  width: 100%;
  height: 1px;
  background-color: #767084;
  border-radius: 2px;
  margin: 18px 0 26px 0;
}

.modal__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  color: #000000;
  margin-bottom: 26px;
}

.modal__inp {
  padding: 13px 17px;
  background-color: #FFFFFF;
  border: 2px solid #E2DEEA;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #767084;
  margin-bottom: 18px;
  width: 100%;
}

.modal__inp:last-child {
  margin-bottom: 12px;
}

.modal__label span {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #767084;
  opacity: 0.52;
  margin-left: 7px;
}

.modal__content button {
  background-color: #0085FF;
  border: 2px solid #0085FF;
  border-radius: 10px;
  padding: 17px 0;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 12px;
}

.modal__checkbox {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.modal__checkbox+label::before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #0085FF;
  border-radius: 50%;
}

.modal__checkbox:checked+label::before {
  border-color: #0085FF;
  background-color: #0085FF;
}

.menu__body {
  position: fixed;
  top: 80px;
  left: -260px;
  height: calc(100% - 80px);
  background-color: #000000ab;
  padding: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: auto;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 260px;
  z-index: 10;
  color: #fff;
}

.menu__body._active {
  left: 0;
}

.menu__link {
  font-size: 22px;
  white-space: nowrap;
  color: #4988FF;
}

.menu__link:not(:last-child) {
  margin-bottom: 15px;
}

.footer__none {
  display: none;
}

.btn__sw {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}

.wa {
  width: auto !important;
}

.t {
  transform: rotate(180deg);
}

.logo {
  transition: all .3s ease;
}

.logo:hover {
  opacity: .7;
}

.logo__dark {
  display: none;
}

.leader__sect {
  padding: 70px 0;
  background-color: #F6F6F6;
}

.leader__warn {
  font-style: italic;
  font-weight: 600;
  font-size: 15.9884px;
  line-height: 29px;
  letter-spacing: -0.213845px;
  color: #FFFFFF;
  background: #2B30A7;
  border: 1px solid #2B30A7;
  border-radius: 5px;
  padding: 2px 14px;
  width: max-content;
  margin-bottom: 25px;
}

.leader__h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #2B30A7;
}

.leader__wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.leader__block {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 12px;
}

.leader__back {
  width: 60px;
  height: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 27px;
  background: #2B30A7;
  border-radius: 5px;
  color: #FFFFFF;
  margin-right: 30px;
}

.leader__col span:first-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #2B30A7;
}

.leader__col span:last-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #878293;
  margin-top: 1px;
}

.leader__active {
  background-color: #2B30A7;
}

.leader__active .leader__back {
  background-color: #fff;
  color: #2B30A7;
}

.leader__wrapper .leader__block:not(:last-child) {
  margin-bottom: 18px;
}

.leader__active .leader__col span:first-child {
  color: #fff;
}

.welcome__sect {
  padding: 55px 0;
  position: relative;
}

.leader__h2 {
  margin-top: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #878293;
}

.welcome__sect .leader__h2 {
  max-width: 910px;
}

.welcome_line {
  margin: 60px 0;
  width: 100%;
  height: 1px;
  background-color: #27509E;
}

.mt80 {
  margin-top: 80px;
}

.line3 {
  position: absolute;
  left: 0;
  top: 70px;
}

.line4 {
  position: absolute;
  left: 0;
  top: 120px;
}

.top__left {
  width: 450px;
}

.top__sect {
  background-color: #F6F6F6;
  padding: 75px 0;
}

.top__block {
  background-color: #fff;
  border-radius: 19px;
  padding: 30px 24px;
  width: 600px;
}

.top__block-left {
  width: 350px;
  margin-right: 22px;
}

.top__block-left img {
  border-radius: 11px;
  width: 350px;
}

.top__left-text {
  font-weight: 700;
  font-size: 30.0291px;
  line-height: 37px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #2B30A7;
  margin-top: 20px;
}

.top__right-bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-feature-settings: 'liga' off;
  color: #000000;
  margin-bottom: 11px;
}

.top__right {
  width: 600px;
  overflow: hidden;
}

.top__right-text {
  font-weight: 500;
  font-size: 15.0146px;
  line-height: 23px;
  font-feature-settings: 'liga' off;
  color: #878293;
}

.swiper-wrapper {
  width: 600px !important;
}

.top__last .swiper__arrow:first-child {
  margin-right: 20px;
}

.top__last .swiper__arrow:last-child {
  margin-left: 20px;
}

.swiper__right {
  width: 100%;
  padding: 0 10px;
}

.swiper__right-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #000000;
  opacity: .5;
}

.swiper__flex .swiper-button-prev img {
  transform: rotate(180deg);
}

.swiper__right .swiper-wrapper {
  width: auto !important;
}

.mySwiper2 {
  width: 970px;
}

.swiper__right .swiper-slide {
  width: max-content !important;
}

.swiper__right-item img {
  margin-right: 4px;
}

.swiper__right-item span {
  white-space: nowrap;
}

.object__block img {
  width: 100%;
  border-radius: 10px;
}

.object__sect {
  padding: 60px 0;
}

.object__block {
  position: relative;
}

.object__text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-weight: 600;
  font-size: 21.03px;
  line-height: 25px;
  color: #FFFFFF;
}

.object__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-decoration-line: underline;
  font-feature-settings: 'liga' off;
  margin-top: 23px;
  color: #4988FF;
}

.fourth__back {
  background: #2B30A7;
  border-radius: 3.75px;
  width: 45px;
  height: 45px;
  font-weight: 500;
  font-size: 26.25px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 10px;
}

.fourth__block {
  background: #FFFFFF;
  border-radius: 7px;
  padding: 9px 30px 9px 9px;
}

.fourth__block:first-child {
  margin-right: 10px;
}

.fourth__col span:first-child {
  font-weight: 700;
  font-size: 17.2761px;
  line-height: 26px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #2B30A7;
}

.fourth__col span:last-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #878293;
}

.fourth__btn {
  background: #2B30A7;
  border-radius: 8.44669px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16.8934px;
  line-height: 25px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
}

.fourth__btn:last-child {
  margin-left: 10px;
  opacity: .36;
}

.color__h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  margin-top: 45px;
}

.color__h1 {
  font-weight: 600;
  font-size: 50.0347px;
  line-height: 62px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  margin-top: 14px;
}

.color__sect {
  padding: 55px 0;
  background: url(../img/color.png) no-repeat center;
  background-size: cover;
}

.color__h2 img {
  margin-left: 18px;
}

.color__right {
  background: linear-gradient(178.82deg, rgba(48, 48, 48, 0.08) 6.85%, rgba(0, 0, 0, 0.1312) 110.12%);
  backdrop-filter: blur(25px);
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  padding: 18px;
  text-align: right;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  border-radius: 8.20143px;
  width: 265px;
  margin-top: 30px;
  height: max-content;
}

.color__warn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(178.82deg, rgba(48, 48, 48, 0.08) 6.85%, rgba(0, 0, 0, 0.1312) 110.12%);
  backdrop-filter: blur(21px);
  border-radius: 10px;
  font-feature-settings: 'liga' off;
  padding: 7px 8px;
  color: #FFFFFF;
  width: max-content;
}

.color__wrapper {
  margin-top: 40px;
}

.color__body {
  background: rgba(0, 0, 0, 0.52);
  border: 1.87354px solid #E1E1E1;
  backdrop-filter: blur(14.6146px);
  border-radius: 14.0515px;
  padding: 21px 29px;
}

.color__line {
  background: #0085FF;
  border: 1px solid #E2DEEA;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16.6162px;
  line-height: 39px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  padding: 0px 25px;
  margin-bottom: 12px;
  width: max-content;
}

.color__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
}

.mb16 {
  margin-bottom: 16px;
}

.f__btn {
  font-weight: 600;
  font-size: 14.946px;
  line-height: 35px;
  padding: 2px 7px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  background: #2CB684;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.f__btn svg {
  margin-right: 2px;
}

.footer__wh {
  font-weight: 600;
  font-size: 14.946px;
  line-height: 35px;
  padding: 2px 7px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  background: #2CB684;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.footer__wh svg {
  margin-right: 2px;
}

.footer__last {
  background: #0085FF;
  margin-top: 15px;
}

.f__last {
  background: #0085FF;
  margin-left: 13px;
}

.footer__tel {
  font-weight: 500;
  font-size: 18.2679px;
  line-height: 30px;
  font-feature-settings: 'liga' off;
  margin-top: 15px;
  color: #000000;
}

@media (max-width: 1800px) {
  .first__sect {
    min-height: 800px;
  }
}

@media (max-width: 1700px) {

  .line4,
  .line3 {
    display: none;
  }
}

@media (max-width: 1650px) {
  .sixth__block {
    padding: 10px;
  }

  .phone {
    right: 20px;
  }

  .phone__2 {
    right: 150px;
  }

  .first__sect {
    min-height: 720px;
  }
}

@media (max-width: 1450px) {
  .line2 {
    left: -50px;
  }

  .line1 {
    left: -20px;
  }

  .first__sect {
    min-height: 680px;
  }
}

@media (max-width: 1365px) {
  .mySwiper2 {
    width: 840px;
  }

  .header__center {
    display: none;
  }

  .top__sect .container {
    flex-direction: column;
  }

  .top__left {
    width: 100%;
    margin-bottom: 20px;
  }

  .container,
  .sixth__container {
    width: 1050px;
  }

  .phone__2 {
    display: none;
  }

  .phone {
    right: 0;
  }

  .line4,
  .line3,
  .line2,
  .line1,
  .line7,
  .line6,
  .line5,
  .second__line,
  .first__line {
    display: none;
  }

  .seventh__left {
    width: 400px;
    max-width: 400px;
  }

  .first__sect {
    min-height: 600px;
  }
}

@media (max-width: 1150px) {
  .second__wrapper .row .col-20 {
    width: 33.333%;
  }

  .fourth__left .leader__h2 {
    margin: 17px auto 0 auto;
  }

  .color__back {
    font-size: 26px;
    line-height: 32px;
  }

  .color__wrapper .row .col-4 {
    width: 50%;
  }

  .color__wrapper .row {
    justify-content: center;
  }

  .color__line {
    margin: 0 auto 10px auto;
  }

  .color__text {
    width: 100%;
    text-align: center;
  }

  .leader__warn {
    margin: 0 auto 15px auto;
  }

  .first__sect {
    min-height: 530px;
  }

  .mySwiper2 {
    width: 590px;
  }

  .second__wrapper .row {
    justify-content: center;
    text-align: center;
  }

  .second__sect h2 {
    width: 100%;
    max-width: 100%;
  }

  .header__center {
    display: none;
  }

  .leader__h1 {
    width: 100%;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
  }

  .leader__h2 {
    font-size: 14px;
    margin-top: 12px;
    line-height: 16px;
    text-align: center;
  }

  .seventh__right {
    margin-left: 0;
  }

  .assort .row .col-4 {
    width: 50%;
  }

  .header__ul {
    display: none;
  }

  .container,
  .sixth__container {
    width: 800px;
  }

  .phone {
    display: none;
  }

  .fifth__right {
    display: none;
  }

  .third__right {
    display: none;
  }

  .h1,
  .h2 {
    text-align: center;
  }

  .h1 {
    font-size: 30px;
    line-height: 36px;
  }

  .h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .first__left,
  .fourth__left,
  .third__left,
  .fifth__left,
  .ninth__left {
    width: 100%;
    max-width: 100%;
  }

  .sect__col {
    flex-direction: column;
  }

  .ninth__sect .row .col-6 {
    width: 100%;
  }

  .tabs__abs-1 {
    display: none;
  }

  .footer__ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .tabs__abs-2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .first__sect,
  .second__sect,
  .third__sect,
  .fourth__sect,
  .fifth__sect,
  .sixth__sect,
  .seventh__sect,
  .eighth__sect,
  .ninth__sect,
  footer {
    padding: 50px 0;
  }

  .mt120 {
    margin-top: 50px;
  }

  .fifth__left {
    padding: 0;
  }

  .fourth__line {
    display: none;
  }

  .third__line {
    height: 50px;
    bottom: -25px;
  }

  .third__line span {
    font-size: 20px;
    line-height: 22px;
  }

  .third__warn {
    margin: 0 auto;
  }

  .seventh__left {
    margin-bottom: 30px;
  }

  .pen__img {
    display: none;
  }

  .pen {
    margin: 0 auto;
  }

  .fourth__create {
    text-align: center;
  }

  .fifth__text {
    margin-top: 20px;
    text-align: center;
  }

  .fifth__flex,
  .first__flex,
  .fourth__flex {
    justify-content: center;
  }

  .first__flex {
    margin-top: 20px;
  }

  .fourth__sect {
    margin-top: 10px;
  }

  .footer__ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .seventh__left {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 1070px) {
  .first__sect {
    min-height: 470px;
  }
}

@media (max-width: 900px) {
  .mySwiper2 {
    width: 440px;
  }

  .wild__sect,
  .first__sect {
    display: none;
  }

  main {
    margin-top: 90px;
  }

  .color__back {
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
  }

  .color__flex {
    flex-direction: column;
  }

  .color__right {
    text-align: left;
  }

  .color__h1 {
    margin-top: 5px;
    font-size: 34px;
    line-height: 38px;
  }

  .color__h2 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 10px;
  }

  .leader__col span:last-child {
    font-size: 15px;
    line-height: 17px;
  }

  .leader__col span:first-child {
    font-size: 17px;
    line-height: 19px;
  }

  .container,
  .sixth__container {
    width: 650px;
  }

  .popup__content {
    padding: 20px;
    width: 100%;
  }

  .object__wrapper .row .col-3 {
    width: 50%;
  }

  .leader__sect,
  .welcome__sect,
  .top__sect,
  .fifth__sect,
  .object__sect,
  .color__sect,
  .fourth__sect,
  .second__sect,
  .first__sect {
    padding: 30px 0;
  }

  .welcome_line {
    margin: 30px 0;
  }
}

@media (max-width: 730px) {
  .color__body {
    padding: 15px;
  }

  .color__wrapper {
    margin-top: 20px;
  }

  .top__last .swiper-wrapper {
    width: 100% !important;
  }

  .color__wrapper .row .col-4 {
    width: 100%;
  }

  .top__last {
    width: 100%;
  }

  .swiper__left {
    display: none;
  }

  .top__block {
    width: 100%;
    padding: 15px;
    flex-direction: column;
  }

  .top__right {
    width: 100%;
  }

  .mySwiper2 {
    width: 100%;
  }

  .leader__h1 {
    font-size: 26px;
    line-height: 28px;
  }

  .leader__h2 {
    font-size: 12px;
    line-height: 14px;
  }

  .third__warn {
    margin: 0 auto 10px auto;
  }

  .showroom__line {
    height: 40px;
    bottom: 10px;
    right: 60px;
  }

  .second__wrapper .row .col-20 {
    width: 50%;
  }

  .second__wrapper .row .col-20 {
    padding-left: 0;
    padding-right: 0;
  }

  .fourth__flex {
    flex-direction: column;
  }

  .fourth__block:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .fourth__btn:last-child {
    margin-left: 0;
    opacity: 0.36;
    margin-top: 15px;
  }

  .container,
  .sixth__container {
    width: 100%;
    padding: 0 20px;
  }

  .showroom__circle {
    width: 40px !important;
    height: 40px !important;
  }

  .showroom__circle img {
    width: 20px;
  }

  .show__left {
    left: 10px;
    bottom: 10px;
  }

  .show__right {
    right: 10px;
    bottom: 10px;
  }

  .h2 {
    font-size: 13px;
    line-height: 15px;
  }

  .h1 {
    font-size: 22px;
    line-height: 24px;
  }

  .first__left h1 {
    margin-bottom: 10px;
  }

  .first__sect,
  .second__sect,
  .third__sect,
  .fourth__sect,
  .fifth__sect,
  .sixth__sect,
  .seventh__sect,
  .eighth__sect,
  .ninth__sect,
  footer {
    padding: 25px 0;
  }

  .first__btn {
    padding: 10px 20px;
  }

  .third__line {
    display: none;
  }

  .fourth__sect {
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  .assort .row .col-4 {
    width: 100%;
    text-align: center;
  }

  .assort__name {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
  }

  .assort__text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
  }

  .fourth__btn,
  .fourth__text {
    padding: 10px 20px;
  }

  .fourth__create {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }

  .mt120 {
    margin-top: 30px;
  }

  .object__text {
    font-size: 18px;
    line-height: 20px;
    left: 10px;
    bottom: 10px;
  }
}

@media (max-width: 600px) {
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__tel {
    margin-top: 3px;
    font-size: 16px;
  }

  .header__button {
    margin-right: 0;
  }

  header .logo {
    width: 170px;
  }

  header .logo img {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .object__wrapper .row .col-3 {
    width: 100%;
  }

  .color__back {
    font-size: 15px;
    line-height: 20px;
  }

  .top__left-text {
    font-size: 20px;
    line-height: 22px;
    margin-top: 10px;
  }

  .top__right-bold {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 6px;
  }

  .top__right-text {
    font-size: 12px;
    line-height: 14px;
  }

  .top__block-left {
    width: 100%;
  }

  .top__block-left img {
    width: 100%;
  }

  .top__last .swiper__arrow:last-child {
    margin-left: 8px;
  }

  .top__last .swiper__arrow:first-child {
    margin-right: 8px;
  }

  .leader__block {
    flex-direction: column;
  }

  .leader__back {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .leader__col {
    text-align: center;
  }

  .leader__col span:last-child {
    margin-top: 8px;
  }

  .leader__warn {
    width: 100%;
    text-align: center;
  }

  .popup__content {
    padding: 15px;
  }

  .showroom__line {
    height: 30px;
    bottom: inherit;
    right: inherit;
    top: 10px;
    right: 10px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 16px;
  }

  .popup__close {
    right: 15px;
    top: 15px;
  }

  .modal__h2 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
  }

  .modal__line {
    margin: 10px 0;
  }

  .modal__text {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
  }

  .modal__content button {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 0;
  }

  .modal__inp {
    margin-bottom: 12px;
  }

  .modal__label span {
    font-size: 12px;
    line-height: 14px;
  }

  .modal__inp {
    padding: 8px 16px;
  }

  .modal__h1 {
    font-size: 30px;
    line-height: 34px;
  }

  .crown {
    display: none;
  }

  .first__flex {
    flex-direction: column;
  }

  .first__btn {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .fourth__left h2 {
    margin-top: 10px;
  }

  .fifth__flex {
    flex-direction: column;
  }

  .fifth__flex .f__last {
    margin-left: 0;
    margin-top: 10px;
  }

  .fifth__tel {
    margin-left: 0;
    margin-top: 15px;
  }

  .fourth__flex {
    flex-direction: column;
    margin-top: 10px;
  }

  .fourth__text {
    margin-left: 0;
    margin-top: 15px;
  }

  .tab {
    height: auto;
    padding: 10px;
  }

  .tabs {
    padding: 10px;
  }

  .showroom__img {
    border-radius: 5px;
  }

  .seventh__left img {
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .second__wrapper .row .col-20 {
    width: 100%;
  }

  footer .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__right {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .sixth__block {
    padding: 8px;
  }

  header .logo {
    width: 120px;
  }

  footer {
    min-height: auto;
    height: auto;
    padding: 10px 0;
  }

  .fourth__block {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .fourth__col {
    width: 100%;
    text-align: center;
  }

  .fourth__back {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .sixth__container .swiper-button-prev,
  .sixth__container .swiper-button-next {
    display: none !important;
  }

  .footer__none {
    display: flex;
    margin-top: 15px;
  }

  .footer__right {
    flex-direction: column;
  }

  .footer__right-text {
    margin-left: 0;
    margin-top: 5px;
  }

  .modal__h1 {
    font-size: 24px;
    line-height: 26px;
  }
}

@media (max-width: 420px) {
  .color__right {
    width: 100%;
  }
}